.mine-index{
  .mine-index-header{
    height: 260px;
    background-color: #68B0FF;
    padding: 10px 20px;
  }

  .mine-inde-middle{
    margin: 0 10px;
    margin-top: -20px;
    height: 100px;
    border-radius: 14px;
    background-color: bisque;
    z-index: 999;
  }

  .header-top{
    height: 100px;
    // line-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom{
    margin-top: 60px;
    margin-left: 22px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    .good{
      // width: 20px;
    }
  }
        

  .top-r{
    line-height: 25px;
    text-align: center;
    width: 60px;
    height: 25px;
    background-color: #FE9926;
    border-radius: 25px;
  }
  .top-l{
    display: flex;
    align-items: center;
    .h-t{
      font-size: 20px;
      color: aliceblue;
    }

    .h-d{
      font-size: 14px;
      color: #323233;
    }

    .txt-h{
      margin-left: 10px;
    }

  }
  .img-h{
    width: 77px;
    height: 77px;
    background-color: red;
    border-radius: 50%;
  }

  .mine-bottom{
    padding: 10px 20px;
    color: #7C7C7C;
    .single{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      border-bottom: 1px solid #C2C2C2;
    }
  }
}
